<%- include('partials/header'); -%>

<body>
    <div class="section-home">
            <% if (user) { %>
                <div class="intro">
                    <h1>Dashboard</h1>
                    <a href="/createJob">Create a new job</a>
                </div>
                <!-- j'ai mis ça pour essayer tu peux enlever et faire à ta manière -->
                <!-- <div id="jobsList">

                </div>
                <div id="filters">
                    <p id="filter">Status</p>
                    <p id="filter2">Date</p>
                </div>
                <div id="orders">
                    <p id="order">Asc.</p>
                    <p id="order2">Desc.</p>
                </div> -->
                
                    <% if (jobs.length > 0){ %>
                    <div class="container-job">
                        <% jobs.forEach(function(job){ %>
                            <div class="job-design">
                                <p class="status-design"><%= job.status %></p>
                                <h2><%= job.jobTitle %></h2>
                                <p> <%= job.company %></p>  
                                <button class="seeMore">See more</button>
                                <p id="hiddenID"><%= job._id %></p>
                            </div>

                    <% })}; %>
                </div>

                    
            <% } else { %>
            <h1>Dashboard</h1>
            <h2>You're not connected</h2>
            <img src="images/design.png" alt="" width="400px">
            <div class="btn">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
            <% } %>

    </div>
    
<script>

const filters = document.getElementById('filters');
const orders = document.getElementById('orders');
const baseUrl = 'http://localhost:3000';
const seeMore = document.querySelector('.seeMore');
const jobID = document.querySelector('#hiddenID').textContent;

seeMore.addEventListener('click', ()=>{
    const ID = seeMore.nextElementSibling.textContent;
    location.assign(`/job/${ID}`);
})


filters.addEventListener('click', () => {
    const filter = document.getElementById('filter');
    const filter2 = document.getElementById('filter2');

    if (filter.textContent === "Status") {
    filter.textContent = "Date";
    filter2.textContent = "Status";
    } else {
    filter.textContent = "Status";
    filter2.textContent = "Date";
    }

    const url = buildUrl();
    updateUrl(url)
});

orders.addEventListener('click', () => {
    const order = document.getElementById('order');
    const order2 = document.getElementById('order2');

    if (order.textContent === "Asc.") {
    order.textContent = "Desc.";
    order2.textContent = "Asc.";
    } else {
    order.textContent = "Asc.";
    order2.textContent = "Desc.";
    }

    const url = buildUrl();
    updateUrl(url)
});

function buildUrl() {
    const filter = document.getElementById('filter').textContent;
    const order = document.getElementById('order').textContent;

    let sortParam = '';
    if (filter === 'Status') {
    sortParam = 'status';
    } else if (filter === 'Date') {
    sortParam = 'createdAt';
    }

    sortParam += order === 'Asc.' ? ',asc' : ',desc';

    return `${baseUrl}?sort=${sortParam}`;
}

function updateUrl(url) {
    history.pushState({}, '', url);
}

</script>

</body>
</html>