<%- include('partials/header'); -%> 

<body>
    <div class="profil-section">
        <div class="myprofil">
            <h1>My profile</h1>
            <a href="">Change password</a>
        </div>
        <div class="image">

            <% if (user.profileImage && user.profileImage.trim() !== "") { %>
                <img src="<%= user.profileImage %>" alt="photo de profil" width="250px">
            <% } else { %>
                <img src="images/profil.png" alt="photo de profil" width="250px">
            <% } %>

            <h2><%= user.firstName+ " " %><span><%= user.lastName %></span></h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="profileImage" id="chargeImage">
                <input type="submit" id="btnUploadImage" value="Upload your image" />
            </form>
        </div>
        <div class="detail">
            <p class="title">Email</p>
            <p><%= user.email %></p>
            <p class="title">GitHub</p>
            <p><%= user.github %></p>
            <div class="download">
                <a href="<%= user.profilePDF %>" download="CV.pdf" target="_blank">View CV</a>
            </div>
            <form action="/upload-pdf" method="POST" enctype="multipart/form-data">
                <input type="file" id="profilePDF" name="profilePDF" accept="application/pdf" required>
                <button type="submit" id="btnUploadPdf">Upload PDF</button>
            </form>
        </div>
    </div>


    <!--Test pour cloudinary-->
    


    
    <!--Fin du test-->


    <script>


    </script>

</body>
</html>