<%- include('partials/header'); -%> 

<body>
    <div class="profil-section">
        <div class="myprofil">
            <h1>My profil</h1>
            <a href="">Change password</a>
        </div>
        <div class="image">
            <img src="profil.png" alt="photo de profil" width="250px">
            <h2><%= user.firstName+ " " %><span><%= user.lastName %></span></h2>
        </div>
        <div class="detail">
            <p class="title">Email</p>
            <p><%= user.email %></p>
            <p class="title">GitHub</p>
            <p><%= user.github %></p>
            <div class="download">
                <a href="">Download CV</a>
                <a href="">Upload new CV</a>
            </div>
        </div>
    </div>
</body>
</html>